p{
    text-align: center;
    font-size: 30pt;
    padding: 2%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-style: solid;
}

textarea{
    font-size: 20pt;
    margin-left: 5%;
    height: 10%;
    width: 15%;
    float: left;
}

#text14{
    float: none;
}

.bottom{
    margin-bottom: 5%;
    margin-left: 10%
}

h1{
    margin: 2%;
    text-align: center;
}